<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h2>Mesajlaşma Sistemi</h2>


<div class="kullanici-bilgi">
    <b><%= ogrenci.ad_soyad %></b> |
    <%= ogrenci.numara %> |
    <%= ogrenci.email %>
</div>

<hr>


<div class="kanallar">
    <a href="#" class="sohbet-filtre-linki aktif-filtre" data-kanal="bolumum">Bölüm</a>
    <a href="#" class="sohbet-filtre-linki" data-kanal="tumokul">Tüm Okul</a>

    <% if (kullanici.rol !== 'ogrenci') { %>
        <a href="#" class="sohbet-filtre-linki" data-kanal="fakulte">Fakülte</a>
    <% } %>
</div>

<hr>


<div class="aktif-sohbet-penceresi">
    <div class="mesajlar" data-aktif-kanal="bolumum">

        <% if (sohbetVerileri && sohbetVerileri.bolumum) { %>
            <% sohbetVerileri.bolumum.forEach(function(mesaj) { %>
                <div class="mesaj-kart">
                    <div class="mesaj-profil-bar">
                        <span><b><%= mesaj.gonderen.ad_soyad %></b> (<%= mesaj.gonderen.numara %>)</span><br>
                        <small><%= mesaj.gonderen.email %></small>
                    </div>

                    <p class="mesaj-icerik"><%= mesaj.icerik %></p>
                    <small class="mesaj-zaman"><%= mesaj.tarih %></small>
                </div>
            <% }) %>
        <% } else { %>
            <p>Bu kanalda mesaj yok.</p>
        <% } %>

    </div>
</div>

<hr>


<div class="mesaj-yazma-alani">
    <input 
        type="text" 
        id="mesaj-input" 
        placeholder="Bir mesaj yazın..."
    >
    <button class="buton-gonder">Gönder</button>
</div>


<script src="/js/js_msgnotes.js"></script>

</body>
</html>